
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
  color: black
}

#logo {
  width: 40px;
}

.container {
  padding-top: 160px;
  align-items: center;
  width: 500px;
  margin: 0 auto;

.a:hover {
  color: pink;
}

.icon {
  font-size: 30px;
  color: black;
}
/*
.paragrah {
  background: #f7f7f7;
  border: 3px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 3px;
}*/
